.kiko-train:before {content: "";}
.kiko-car:before {content: "";}
.kiko-truck:before {content: "";}
.kiko-bike:before {content: "";}
.kiko-sailboat:before {content: "";}
.kiko-airplane:before {content: "";}
.kiko-helicopter:before {content: "";}
.kiko-motor-scooter:before {content: "";}
.kiko-motorcycle:before {content: "";}
.kiko-air-balloon:before {content: "";}
.kiko-plane-takes-off:before {content: "";}
.kiko-plane-lands:before {content: "";}
.kiko-bus:before {content: "";}
.kiko-cargo-vessel:before {content: "";}
.kiko-electromobile:before {content: "";}
.kiko-rocket:before {content: "";}
.kiko-rocket-shuttle:before {content: "";}
.kiko-ambulance:before {content: "";}
.kiko-police:before {content: "";}
.kiko-tank:before {content: "";}
.kiko-tractor:before {content: "";}
.kiko-tow-truck:before {content: "";}
.kiko-airship:before {content: "";}
.kiko-scooter:before {content: "";}
.kiko-self-balancing-scooter:before {content: "";}
.kiko-segway:before {content: "";}
.kiko-metro:before {content: "";}
.kiko-syringe:before {content: "";}
.kiko-pills:before {content: "";}
.kiko-microscope:before {content: "";}
.kiko-jar-of-medicine:before {content: "";}
.kiko-tubes:before {content: "";}
.kiko-medicine:before {content: "";}
.kiko-toilet:before {content: "";}
.kiko-patch:before {content: "";}
.kiko-pregnancy:before {content: "";}
.kiko-medical-app:before {content: "";}
.kiko-herbs:before {content: "";}
.kiko-recipe:before {content: "";}
.kiko-crushing-of-medicines:before {content: "";}
.kiko-blood:before {content: "";}
.kiko-donor:before {content: "";}
.kiko-brain:before {content: "";}
.kiko-kidneys:before {content: "";}
.kiko-liver:before {content: "";}
.kiko-lungs:before {content: "";}
.kiko-heart:before {content: "";}
.kiko-intestine:before {content: "";}
.kiko-stomach:before {content: "";}
.kiko-healthy-tooth:before {content: "";}
.kiko-aching-tooth:before {content: "";}
.kiko-nose:before {content: "";}
.kiko-ear:before {content: "";}
.kiko-eye:before {content: "";}
.kiko-chest:before {content: "";}
.kiko-doctor:before {content: "";}
.kiko-doctor-woman:before {content: "";}
.kiko-scheduled-med:before {content: "";}
.kiko-hand:before {content: "";}
.kiko-foot:before {content: "";}
.kiko-hospital:before {content: "";}
.kiko-stethoscope:before {content: "";}
.kiko-bacteria:before {content: "";}
.kiko-DNA:before {content: "";}
.kiko-spine:before {content: "";}
.kiko-bed-rest:before {content: "";}
.kiko-bone:before {content: "";}
.kiko-medical-cross:before {content: "";}
.kiko-medical-cross-usa:before {content: "";}
.kiko-dropper:before {content: "";}
.kiko-heart-rate:before {content: "";}
.kiko-marijuana:before {content: "";}
.kiko-fracture:before {content: "";}
.kiko-urine:before {content: "";}
.kiko-fecal:before {content: "";}
.kiko-diagnostics:before {content: "";}
.kiko-allergy:before {content: "";}
.kiko-call-med:before {content: "";}
.kiko-crutches:before {content: "";}
.kiko-wheelchair:before {content: "";}
.kiko-skull:before {content: "";}
.kiko-childbirth:before {content: "";}
.kiko-vitamins:before {content: "";}
.kiko-exclamation-circle:before {content: "";}
.kiko-exclamation-triangle:before {content: "";}
.kiko-arrow-down-circle:before {content: "";}
.kiko-arrow-up-circle:before {content: "";}
.kiko-arrow-left-circle:before {content: "";}
.kiko-arrow-right-circle:before {content: "";}
.kiko-arrow-up:before {content: "";}
.kiko-arrow-down:before {content: "";}
.kiko-arrow-right:before {content: "";}
.kiko-arrow-left:before {content: "";}
.kiko-double-arrow-up:before {content: "";}
.kiko-double-arrow-down:before {content: "";}
.kiko-double-arrow-left:before {content: "";}
.kiko-double-arrow-right:before {content: "";}
.kiko-clip:before {content: "";}
.kiko-triangular-arrow-up:before {content: "";}
.kiko-triangular-arrow-down:before {content: "";}
.kiko-triangular-arrow-left:before {content: "";}
.kiko-triangular-arrow-right:before {content: "";}
.kiko-email-at:before {content: "";}
.kiko-signal:before {content: "";}
.kiko-bad-signal:before {content: "";}
.kiko-no-signal:before {content: "";}
.kiko-video:before {content: "";}
.kiko-sound-on:before {content: "";}
.kiko-sound-off:before {content: "";}
.kiko-call-on:before {content: "";}
.kiko-call-off:before {content: "";}
.kiko-bluetooth:before {content: "";}
.kiko-wifi:before {content: "";}
.kiko-book-open:before {content: "";}
.kiko-book-close:before {content: "";}
.kiko-bookmark:before {content: "";}
.kiko-light-turn-on:before {content: "";}
.kiko-light-turn-off:before {content: "";}
.kiko-brush:before {content: "";}
.kiko-full-battery:before {content: "";}
.kiko-half-empty-battery:before {content: "";}
.kiko-empty-battery:before {content: "";}
.kiko-check-circle:before {content: "";}
.kiko-check-square:before {content: "";}
.kiko-check:before {content: "";}
.kiko-cross-circle:before {content: "";}
.kiko-cross-square:before {content: "";}
.kiko-cross:before {content: "";}
.kiko-clock:before {content: "";}
.kiko-cloud-download:before {content: "";}
.kiko-cloud-load:before {content: "";}
.kiko-cloud:before {content: "";}
.kiko-loading:before {content: "";}
.kiko-credit-card:before {content: "";}
.kiko-crop:before {content: "";}
.kiko-pencil:before {content: "";}
.kiko-pencil-write:before {content: "";}
.kiko-drop:before {content: "";}
.kiko-no-drop:before {content: "";}
.kiko-email:before {content: "";}
.kiko-email-open:before {content: "";}
.kiko-email-forward:before {content: "";}
.kiko-email-deleted:before {content: "";}
.kiko-email-attachment:before {content: "";}
.kiko-emails:before {content: "";}
.kiko-expand:before {content: "";}
.kiko-open-eye:before {content: "";}
.kiko-no-eye:before {content: "";}
.kiko-trash:before {content: "";}
.kiko-sheet:before {content: "";}
.kiko-sheet-plus:before {content: "";}
.kiko-sheet-minus:before {content: "";}
.kiko-sheet-text:before {content: "";}
.kiko-video-file:before {content: "";}
.kiko-flag:before {content: "";}
.kiko-gift:before {content: "";}
.kiko-globe-europe:before {content: "";}
.kiko-globe-north-america:before {content: "";}
.kiko-globe-asia:before {content: "";}
.kiko-globe-australia:before {content: "";}
.kiko-globe:before {content: "";}
.kiko-home:before {content: "";}
.kiko-hashtag:before {content: "";}
.kiko-headphones:before {content: "";}
.kiko-microphone:before {content: "";}
.kiko-microphone-off:before {content: "";}
.kiko-link:before {content: "";}
.kiko-zoom:before {content: "";}
.kiko-zoom-minus:before {content: "";}
.kiko-zoom-plus:before {content: "";}
.kiko-heart-symbol:before {content: "";}
.kiko-picture:before {content: "";}
.kiko-information:before {content: "";}
.kiko-layers:before {content: "";}
.kiko-hamburger-menu:before {content: "";}
.kiko-plus:before {content: "";}
.kiko-circle-plus:before {content: "";}
.kiko-square-plus:before {content: "";}
.kiko-pause:before {content: "";}
.kiko-record:before {content: "";}
.kiko-forward:before {content: "";}
.kiko-previous:before {content: "";}
.kiko-note:before {content: "";}
.kiko-treble-clef:before {content: "";}
.kiko-navigation:before {content: "";}
.kiko-moon:before {content: "";}
.kiko-sun:before {content: "";}
.kiko-comment:before {content: "";}
.kiko-dialogue:before {content: "";}
.kiko-user:before {content: "";}
.kiko-user-add:before {content: "";}
.kiko-user-minus:before {content: "";}
.kiko-user-check:before {content: "";}
.kiko-user-x:before {content: "";}
.kiko-users:before {content: "";}
.kiko-phone:before {content: "";}
.kiko-turn-off-phone:before {content: "";}
.kiko-question:before {content: "";}
.kiko-label:before {content: "";}
.kiko-off:before {content: "";}
.kiko-shield:before {content: "";}
.kiko-shield-crossed:before {content: "";}
.kiko-gear:before {content: "";}
.kiko-several-gears:before {content: "";}
.kiko-wrench:before {content: "";}
.kiko-shopping-cart:before {content: "";}
.kiko-shopping-cart-add:before {content: "";}
.kiko-shopping-cart-delete:before {content: "";}
.kiko-shopping-cart-pay:before {content: "";}
.kiko-shopping-basket:before {content: "";}
.kiko-shopping-basket-add:before {content: "";}
.kiko-shopping-basket-delete:before {content: "";}
.kiko-termometer-minus:before {content: "";}
.kiko-termometer-plus:before {content: "";}
.kiko-star:before {content: "";}
.kiko-half-star:before {content: "";}
.kiko-text:before {content: "";}
.kiko-lock:before {content: "";}
.kiko-unlock:before {content: "";}
.kiko-umbrella:before {content: "";}
.kiko-save:before {content: "";}
.kiko-save-error:before {content: "";}
.kiko-paper-bag:before {content: "";}
.kiko-circle-checkbox:before {content: "";}
.kiko-circle-checkbox-full:before {content: "";}
.kiko-square-checkbox:before {content: "";}
.kiko-square-checkbox-full:before {content: "";}
.kiko-marker-map:before {content: "";}
.kiko-pin:before {content: "";}
.kiko-map:before {content: "";}
.kiko-lightning:before {content: "";}
.kiko-lightning-off:before {content: "";}
.kiko-pipette:before {content: "";}
.kiko-compass:before {content: "";}
.kiko-copy:before {content: "";}
.kiko-cut:before {content: "";}
.kiko-past:before {content: "";}
.kiko-information-symbol:before {content: "";}
.kiko-download-file:before {content: "";}
.kiko-broken-link:before {content: "";}
.kiko-email-read:before {content: "";}
.kiko-spam:before {content: "";}
.kiko-globe-latin-america:before {content: "";}
.kiko-globe-japan:before {content: "";}
.kiko-globe-africa:before {content: "";}
.kiko-globe-east:before {content: "";}
.kiko-globe-antarctic:before {content: "";}
.kiko-fire:before {content: "";}
.kiko-support:before {content: "";}
.kiko-recycle-symbol:before {content: "";}
.kiko-reload-arrow:before {content: "";}
.kiko-cross-line:before {content: "";}
.kiko-check-line:before {content: "";}
.kiko-plus-line:before {content: "";}
.kiko-timer:before {content: "";}
.kiko-alarm:before {content: "";}
.kiko-alarm-off:before {content: "";}
.kiko-fingerprint:before {content: "";}
.kiko-scan-fingerprint:before {content: "";}
.kiko-computer-virus:before {content: "";}
.kiko-the-compass:before {content: "";}
.kiko-wifi-off:before {content: "";}
.kiko-quote-left:before {content: "";}
.kiko-quote-right:before {content: "";}
.kiko-ellipsis-menu-v:before {content: "";}
.kiko-ellipsis-menu-h:before {content: "";}
.kiko-iphone:before {content: "";}
.kiko-android-phone:before {content: "";}
.kiko-google-pixel-phone:before {content: "";}
.kiko-old-phone:before {content: "";}
.kiko-nokia-3310:before {content: "";}
.kiko-bendable-smartphone:before {content: "";}
.kiko-tablet:before {content: "";}
.kiko-imac-computer:before {content: "";}
.kiko-notebook:before {content: "";}
.kiko-top-notebook:before {content: "";}
.kiko-screen:before {content: "";}
.kiko-mouse:before {content: "";}
.kiko-graphic-pen:before {content: "";}
.kiko-vr:before {content: "";}
.kiko-google-glass:before {content: "";}
.kiko-graphics-tablet:before {content: "";}
.kiko-printer:before {content: "";}
.kiko-scanner:before {content: "";}
.kiko-warehouse-scanner:before {content: "";}
.kiko-iwatch:before {content: "";}
.kiko-smart-watch:before {content: "";}
.kiko-navigator:before {content: "";}
.kiko-dashcam:before {content: "";}
.kiko-music-speaker:before {content: "";}
.kiko-yandex-alice:before {content: "";}
.kiko-cortana-station:before {content: "";}
.kiko-hello-google:before {content: "";}
.kiko-amazon-station:before {content: "";}
.kiko-web-camera:before {content: "";}
.kiko-desktop-microphone:before {content: "";}
.kiko-earphones:before {content: "";}
.kiko-music-headphones:before {content: "";}
.kiko-headphones-microphone:before {content: "";}
.kiko-cable:before {content: "";}
.kiko-socket-eu:before {content: "";}
.kiko-socket-us:before {content: "";}
.kiko-fitness-bracelet:before {content: "";}
.kiko-gps-tracker:before {content: "";}
.kiko-satellite-communication:before {content: "";}
.kiko-television:before {content: "";}
.kiko-digital-tv:before {content: "";}
.kiko-router:before {content: "";}
.kiko-external-drive:before {content: "";}
.kiko-go-pro-camera:before {content: "";}
.kiko-quadcopter:before {content: "";}
.kiko-radio:before {content: "";}
.kiko-transmitter:before {content: "";}
.kiko-baby-radio-monitor:before {content: "";}
.kiko-baby-monitor:before {content: "";}
.kiko-joystick:before {content: "";}
.kiko-portable-console:before {content: "";}
.kiko-ipod:before {content: "";}
.kiko-handsfree:before {content: "";}
.kiko-camera:before {content: "";}
.kiko-professional-camera:before {content: "";}
.kiko-professional-video-camera:before {content: "";}
.kiko-journalist-microphone:before {content: "";}
.kiko-studio-lighting:before {content: "";}
.kiko-robot-pet:before {content: "";}
.kiko-robot-vacuum-cleaner:before {content: "";}
.kiko-robot-big-dog:before {content: "";}
.kiko-humanoid-robot:before {content: "";}
.kiko-robot:before {content: "";}
.kiko-robot-head:before {content: "";}
.kiko-desktop-computer:before {content: "";}
.kiko-anchor:before {content: "";}
.kiko-calendar:before {content: "";}
.kiko-schedule:before {content: "";}
.kiko-address-book:before {content: "";}
.kiko-facebook:before {content: "";}
.kiko-twitter:before {content: "";}
.kiko-dribbble:before {content: "";}
.kiko-behance:before {content: "";}
.kiko-pinterest:before {content: "";}
.kiko-vkontakte:before {content: "";}
.kiko-odnoklassniki:before {content: "";}
.kiko-flipboard:before {content: "";}
.kiko-whatsapp:before {content: "";}
.kiko-blogger:before {content: "";}
.kiko-evernote:before {content: "";}
.kiko-gmail:before {content: "";}
.kiko-line:before {content: "";}
.kiko-myspace:before {content: "";}
.kiko-pocket:before {content: "";}
.kiko-skype:before {content: "";}
.kiko-viadeo:before {content: "";}
.kiko-xing:before {content: "";}
.kiko-linkedin:before {content: "";}
.kiko-naver:before {content: "";}
.kiko-stumbleupon:before {content: "";}
.kiko-viber:before {content: "";}
.kiko-snapchat:before {content: "";}
.kiko-yammer:before {content: "";}
.kiko-digg:before {content: "";}
.kiko-messenger:before {content: "";}
.kiko-live-journal:before {content: "";}
.kiko-newsvine:before {content: "";}
.kiko-qzone:before {content: "";}
.kiko-telegram:before {content: "";}
.kiko-yummly:before {content: "";}
.kiko-douban:before {content: "";}
.kiko-flattr:before {content: "";}
.kiko-hatena:before {content: "";}
.kiko-reddit:before {content: "";}
.kiko-tumblr:before {content: "";}
.kiko-weibo:before {content: "";}
.kiko-google:before {content: "";}
.kiko-yandex:before {content: "";}
.kiko-share:before {content: "";}
.kiko-yandex-aura:before {content: "";}
.kiko-wechat:before {content: "";}
.kiko-baidu:before {content: "";}
.kiko-bing:before {content: "";}
.kiko-like:before {content: "";}
.kiko-unlike:before {content: "";}
@font-face {font-family: "Kiko";src: url("webfonts/fontkikolight.eot") format("embedded-opentype"),url("webfonts/fontkikolight.woff") format("woff"),url("webfonts/fontkikolight.woff2") format("woff2"),url("webfonts/fontkikolight.otf") format("opentype"),url("webfonts/fontkikolight.svg") format("svg");font-weight: 300;font-style: light;}
.kikol {font-family: "Kiko";font-weight: 300;}
@font-face {font-family: "Kiko";src: url("webfonts/fontkikoreg.eot") format("embedded-opentype"),url("webfonts/fontkikoreg.woff") format("woff"),url("webfonts/fontkikoreg.woff2") format("woff2"),url("webfonts/fontkikoreg.otf") format("opentype"),url("webfonts/fontkikoreg.svg") format("svg");font-weight: normal;font-style: normal;}
.kikor {font-family: "Kiko";font-weight: normal;}
@font-face {font-family: "Kiko";src: url("webfonts/fontkikosolid.eot") format("embedded-opentype"),url("webfonts/fontkikosolid.woff") format("woff"),url("webfonts/fontkikosolid.woff2") format("woff2"),url("webfonts/fontkikosolid.otf") format("opentype"),url("webfonts/fontkikosolid.svg") format("svg");font-weight: 600;font-style: bold;}
.kikos {font-family: "Kiko";font-weight: 600;}